# do not display server version on error pages, or other pages
ServerSignature Off

# This only works in httpd.conf… only return Apache in the Server header
# ServerTokens Prod

# One year
<filesMatch ".(jpg|jpeg|png|gif|ico|eot|ttf|otf|woff|gz|svg|svgz|mp4|ogg|webm)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public"
  </IfModule>
</filesMatch>

# One month
<filesMatch ".(css|js)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=2628000, public"
  </IfModule>
</filesMatch>

# One week
<filesMatch ".(rss|atom|xml)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=1314000, public"
  </IfModule>
</filesMatch>

# Hide X-Powered-By and Server headers, sent by downstream application servers:
<IfModule mod_headers.c>
  Header unset Server
  Header always unset X-Powered-By
  Header unset X-Powered-By
  Header unset X-CF-Powered-By
  Header unset X-Mod-Pagespeed
  Header unset X-Pingback

  Header always set X-Frame-Options "SAMEORIGIN"
  # Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header always set X-Xss-Protection "1; mode=block"
  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>